@font-face {
    font-family: "MyriadPro-Regular";
    src: url('../font/MyriadPro-Regular.otf');
}

@font-face {
    font-family: "MyriadPro-Light";
    src: url('../font/MyriadPro-Light.otf');
}

body, article, section, header, footer, nav, ul {
    padding: 0;
    margin: 0;
    font-family: "MyriadPro-Light", Helvetica, sans-serif;
}

nav {
}

ul {
    list-style: none;
}

li {
    float: left
}

form {
    display: inline;
}

a {
    text-decoration: none;
}

.tvFinderContent {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.tvFinderTopNav {
    background: url(../i/walmartHeaderBackground.png) no-repeat;
    width: 1024px;
    background-size: 1024px 90px;
}

.tvFinderWalmartNav {
    width: 1024px;
    height: 100px;
}

.walmartLogoCell
, .walmartLogoLink {
    width: 220px;
    height: 85px;
}

.walmartLogoLink {
    display: block;
    text-indent: -9999px;
}

.walmartSearchCell {
    width: 360px;
    height: 85px;
}

.walmartSearchForm {
    position: absolute;
    top: 30px;
    left: 332px;
}

.walmartSearchSubmit {
    background-color:transparent;
    width: 32px;
    height: 28px;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
}

.walmartSearchCell .walmartSearchInput {
    background-color: transparent;
    width: 185px;
    border: none;
    box-shadow: none;
    font-size: larger;
    color: rgb(83,90,95);
}

.walmartSearchCell .walmartSearchInput:focus {
    box-shadow: none;
}

.walmartSearchInput::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(210,210,210);
}
.walmartSearchInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(210,210,210);
}
.walmartSearchInput::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(210,210,210);
}
.walmartSearchInput:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(210,210,210);
}

.walmartCreateCell
, .walmartSignInCell
, .walmartCartCell {
    height: 85px;
    display: block;
}


.walmartCreateCell {
    width: 155px;
}

.walmartSignInCell {
    width: 160px;
}

.walmartCartCell {
    width: 128px;
}

.walmartCreateLink
, .walmartSignInLink
, .walmartCartLink {
    position: absolute;
    display: block;
    color:rgb(83,90,95);
    top: 26px;
    text-indent: 28px;
}

.walmartCartLink {
    text-indent: 34px;
}

.walmartCreateText
, .walmartSignInText
, .walmartCartText {
    position: absolute;
    top: 46px;
    text-indent: 10px;
    color:rgb(173,180,189);
}

.walmartCartText {
    text-indent: 16px;
}


.tvFinderBreadcrumbLine {
    width: 1024px;
    height: 30px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: small;
}

.tvFinderHomeBreadcrumb {
    background: url(../i/walmartBreadcrumbSprite.png) no-repeat;
    width: 28px;
    height: 28px;
    margin-left: 20px;
}

.tvFinderHomeLink {
    width: 28px;
    display: block;
    text-indent: -9999px;
}

.tvFinderBreadcrumb {
    background: url(../i/walmartBreadcrumbSprite.png) no-repeat -28px 0;
}

.tvFinderBreadcrumbLink {
    display: block;
    margin-left: 24px;
    margin-right: 8px;
    color:rgb(14,121,190);
    font-weight: bold;
}

.tvFinderHeader {
    line-height: 90px;
    font-size: 56px;
    font-weight: normal;
    color:rgb(58,58,58);
    text-align: center;
    margin: 0;
}

.tvFinderDescription {
    color:rgb(172,172,172);
    text-align: center;
    margin-top: -15px;
    font-weight: 100;
    font-size: 24px;
}

.tvFinderLink {
    color:rgb(14,121,190);
}

.tvFinderOffers {
    background: url(../i/tvFinderOffers.png) no-repeat;
    background-position:center;
    width: 1024px;
    height: 218px;
}

.tvFinderControls {
    background: url(../i/tvFinderControls.png) no-repeat;
    background-position:center;
    width: 980px;
    height: 144px;
    font-size: large;
}

.tvFinderLogoLink {
    display: block;
    width: 120px;
    height: 120px;
    text-indent: -9999px;
    margin: 20px 20px;
}

.tvFinderSizePrompt {
    margin: 30px 62px 0 2px;
    width: 325px;
}

#tvFinderSizeSlider {
    margin: 20px 0 0 0;
}

#tvFinderSizeSlider .ui-rangeSlider-bar {
    background-color: rgb(255,177,70);
}

#tvFinderSizeSlider .ui-rangeSlider-innerBar
, #tvFinderSizeSlider .ui-rangeSlider-bar {
    height: 11px;
}

.tvFinderTypePrompt {
    margin: 30px 0 0 10px;
    width: 100px;
}

.tvFinderBrandPrompt {
    margin: 30px 0 0 10px;
    width: 190px;
}

.tvFinderSortPrompt {
    margin: 30px 0 0 10px;
    width: 100px;
}

.tvFinderMenuChoice {
    display: block;
    float: none;
    margin: 0 0 0 10px;
}

.tvFinderControls .tvFinderControl {
    display: block;
    margin-top: 10px;
}
